<div class="container">
  <img class="img-fluid" src="assets/hbd-header.png" alt="header" />
  <p>Hi Tas!</p>
  <p>
    Thanks for taking part in our specially curated scavenger hunt survey. We
    want to help you start your home office makeover of your dreams! Turn your
    working from home from this:
  </p>
  <img class="img-fluid" src="assets/current.jpeg" alt="current" />
  <p>To a true home office with a desk to inspire:</p>
  <img class="img-fluid" src="assets/dream.jpeg" alt="dream" />
  <p>
    After careful analysis of your results we have come up with the following
    personalised recommendations custom made for you. Make your next trip count
    by considering the following purchases:
  </p>
  <p class="warning">
    <strong
      >MAKE SURE TO SCREENSHOT THIS LIST, AS THESE ITEMS WILL NOT BE SAVED IF
      YOU RELOAD THIS PAGE</strong
    >
  </p>
  <div class="list">
    <ul class="list-group">
      <li class="list-group-item"><strong>Accessories</strong></li>
      @for (accessory of accessories; track $index) {
      <li class="list-group-item">{{ accessory }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Lamps</strong></li>
      @for (accessory of lamps; track $index) {
      <li class="list-group-item">{{ accessory }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Chairs</strong></li>
      @for (chair of chairs; track $index) {
      <li class="list-group-item">{{ chair }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Desks</strong></li>
      @for (desk of desks; track $index) {
      <li class="list-group-item">{{ desk }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Storages</strong></li>
      @for (storage of storages; track $index) {
      <li class="list-group-item">{{ storage }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Foot Rests</strong></li>
      @for (footRest of footRests; track $index) {
      <li class="list-group-item">{{ footRest }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Stands</strong></li>
      @for (stand of stands; track $index) {
      <li class="list-group-item">{{ stand }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Desk Accessories</strong></li>
      @for (deskAccessory of deskAccessories; track $index) {
      <li class="list-group-item">{{ deskAccessory }}</li>
      }
    </ul>
  </div>
  <p>
    Congratulations, you have also won an Ikea gift voucher to help you get
    started on your dream desk setup! Please check your email to redeem the
    voucher!!
  </p>
  <p>Hope you had fun and once again Happy Birthday!!!</p>
</div>
