<div class="container">
  <img class="img-fluid" src="assets/hbd-header.png" alt="header" />
  <p>Hi Tas!</p>
  <p>
    Thanks for taking part in our specially curated scavenger hunt survey. We
    want to help you start your home office makeover of your dreams! Turn your
    working from home from this:
  </p>
  <img class="img-fluid" src="assets/current.jpeg" alt="current" />
  <p>To a true home office with a desk to inspire:</p>
  <img class="img-fluid" src="assets/dream.jpeg" alt="dream" />
  <p>
    After careful analysis of your results we have come up with the following
    personalised recommendations custom made for you. Make your next trip count
    by considering the following purchases:
  </p>
  <div class="list">
    <ul class="list-group">
      <li class="list-group-item">Accessories</li>
      @for (accessory of accessories; track $index) {
      <li class="list-group-item">{{ accessory }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item">Lamps</li>
      @for (accessory of lamps; track $index) {
      <li class="list-group-item">{{ accessory }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item">Chairs</li>
      @for (chair of chairs; track $index) {
      <li class="list-group-item">{{ chair }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item">Desks</li>
      @for (desk of desks; track $index) {
      <li class="list-group-item">{{ desk }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item">Storages</li>
      @for (storage of storages; track $index) {
      <li class="list-group-item">{{ storage }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item">Foot Rests</li>
      @for (footRest of footRests; track $index) {
      <li class="list-group-item">{{ footRest }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item">Stands</li>
      @for (stand of stands; track $index) {
      <li class="list-group-item">{{ stand }}</li>
      }
    </ul>

    <ul class="list-group">
      <li class="list-group-item">Desk Accessories</li>
      @for (deskAccessory of deskAccessories; track $index) {
      <li class="list-group-item">{{ deskAccessory }}</li>
      }
    </ul>
  </div>
  <p>
    Congratulations, you have also won the following Ikea gift voucher to help
    you get started on your dream desk setup!
  </p>
  <p>Best,</p>
  <p>Dream Ikea</p>
</div>
