<div class="container">
  <img
    class="img-fluid mx-auto d-block"
    src="assets/header.jpeg"
    alt="header"
  />
  <div class="catalogue--container container-fluid">
    <img
      class="img-fluid mx-auto d-block image"
      src="assets/catalogue.jpeg"
      alt="catalogue"
    />
    <button
      class="btn btn-primary btn-sm circle-button accessory"
      (click)="openDialog(accessory)"
    ></button>
    <button
      class="btn btn-primary btn-sm circle-button lamp"
      (click)="openDialog(lamp)"
    ></button>
    <button
      class="btn btn-primary btn-sm circle-button chair"
      (click)="openDialog(chair)"
    ></button>
    <button
      class="btn btn-primary btn-sm circle-button desk"
      (click)="openDialog(desk)"
    ></button>
    <button
      class="btn btn-primary btn-sm circle-button storage"
      (click)="openDialog(storage)"
    ></button>
    <button
      class="btn btn-primary btn-sm circle-button foot-rest"
      (click)="openDialog(footRest)"
    ></button>
    <button
      class="btn btn-primary btn-sm circle-button stand"
      (click)="openDialog(stand)"
    ></button>
    <button
      class="btn btn-primary btn-sm circle-button desk-accessory"
      (click)="openDialog(deskAccessory)"
    ></button>
  </div>
  @if (isComplete$ | async) {
  <div class="d-grid gap-2">
    <button class="btn btn-primary col btn-sm" [routerLink]="'/gift'">
      Finish
    </button>
  </div>
  }
  <img
    class="img-fluid mx-auto d-block"
    src="assets/footer.jpeg"
    alt="footer"
  />
</div>
