<div class="container">
  <img
    class="img-fluid mx-auto d-block"
    src="assets/header.jpeg"
    alt="header"
  />
  <div class="catalogue--container container-fluid">
    <img
      class="img-fluid mx-auto d-block image"
      src="assets/catalogue.jpeg"
      alt="catalogue"
    />
    <button
      class="btn btn-primary btn-sm accessory"
      (click)="openDialog('accessory')"
    ></button>
    <button
      class="btn btn-primary btn-sm lamp"
      (click)="openDialog('lamp')"
    ></button>
    <button
      class="btn btn-primary btn-sm chair"
      (click)="openDialog('chair')"
    ></button>
    <button
      class="btn btn-primary btn-sm desk"
      (click)="openDialog('desk')"
    ></button>
    <button
      class="btn btn-primary btn-sm storage"
      (click)="openDialog('storage')"
    ></button>
    <button
      class="btn btn-primary btn-sm foot-rest"
      (click)="openDialog('footRest')"
    ></button>
    <button
      class="btn btn-primary btn-sm stand"
      (click)="openDialog('stand')"
    ></button>
    <button
      class="btn btn-primary btn-sm desk-accessory"
      (click)="openDialog('deskAccessory')"
    ></button>
  </div>
  <img
    class="img-fluid mx-auto d-block"
    src="assets/footer.jpeg"
    alt="footer"
  />
</div>
